.ActionBar
  display: flex
  flex-direction: row
  justify-content: center
  padding: 20px 0

  button
    color: #fff
    background: none
    border: 2px solid #0000
    border-radius: 10px
    padding: 15px
    font-size: 2em
    margin: 5px 10px
    cursor: pointer

    &:active
      border-color: #aaa

    &.run
      color: #0f0
      border-color: #0f0

      &:active
        background-color: #0f0
        color: #000

